<connectionStrings>
  <!--<add name="DefaultConnection"
    connectionString="Data Source=(LocalDb)\MSSQLLocalDB;Initial Catalog=aspnet-Website-96463614-82e4-4132-947c-0490e425bc77;AttachDbFilename=|DataDirectory|\aspnet-Website-96463614-82e4-4132-947c-0490e425bc77.mdf;Integrated Security=SSPI"
    providerName="System.Data.SqlClient"/>-->

    <add name="ChinookDB"
        connectionString="Data Source=.; Initial Catalog=Chinook; Integrated Security=true"
        providerName="System.Data.SqlClient"/>

  <add name="DefaultConnection"
    connectionString="Data Source=.; Initial Catalog=Chinook; Integrated Security=true"
    providerName="System.Data.SqlClient"/>

</connectionStrings>
